# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
vector_n/.vs/*
vector_n/vector_n/Debug/*
vector_n/Debug/*
vector_n/Debug/vector_n.ilk
vector_n/vector_n/Debug/vector_n.tlog/link.write.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/link.write.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/link.read.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/link.command.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/CL.write.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/CL.read.1.tlog
vector_n/vector_n/Debug/vector_n.tlog/CL.command.1.tlog
vector_n/vector_n/Debug/vector_n.log
vector_n/vector_n/Debug/vc141.pdb
vector_n/vector_n/Debug/vc141.idb
vector_n/Debug/vector_n.pdb
vector_n/Debug/vector_n.ilk
*.ilk
*.tlog
vector_n/vector_n/Release/*
vector_n/vector_n/Debug/vector_n.tlog/link.read.1.tlog
vector_n/vector_n/Debug/vector_n.log
